code {
    background-color: rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.87);
    box-shadow: black 0 0 0.5em;
    padding: 0.25em;
    border-radius: 0.5em;
}

.App {
    text-align: center;
}

.clicker {
    width: 128px;
    margin: 0;
    display: inline-block;
}

.clicker img {
    max-width: 100%;
    max-height: 100%;
    padding: 0;
}

.clicker img:active {
    max-width: 80%;
    max-height: 80%;
    padding: 10%;
}